@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Yanone+Kaffeesatz&display=swap');

header {
  background-image:
  linear-gradient(to bottom, rgba(80, 58, 70, 0.178), rgba(182, 132, 159, 0.6)),
  url('../../imgs/champagne.jpg');
  background-size: cover;
  height: 400px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    
    .logo {
      height: 150px;
      object-fit: contain;
      margin: 0 30px;
    }
    a {
      font-size: 2rem;
      text-decoration: none;
      color: #d9d9d9;
    }
    a:hover {
      color: #fff;
      text-shadow: 0px 0px 6px #777;
    }
  }

  h1 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 0;
  }
  p {
    margin-top: 10px;
    color: #fff;
    opacity: 0.8;
  }


}
