@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light|Yanone+Kaffeesatz&display=swap");

header {
  background-image: linear-gradient(
      to bottom,
      rgba(15, 11, 14, 0.4),
      rgba(15, 11, 14, 0.4)
    ),
    url("../../imgs/champagne.jpg");
  background-size: cover;
  height: 400px;
  box-shadow: 0 0px 8px 3px rgba(80, 58, 70, 0.3);
  position: relative;
  z-index: 1;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

    .logo {
      height: 150px;
      object-fit: contain;
      margin: 0 60px;
    }
    a {
      font-size: 2rem;
      text-decoration: none;
      color: #fff;
    }
    a:hover {
      text-shadow: 0px 0px 6px #777;
    }
  }

  h1 {
    font-size: 4rem;
    margin: 10px 0 0;
    color: #fff;
    text-shadow: 0px 0px 6px #777;
  }
  p {
    margin-top: 10px;
    color: #fff;
    opacity: 0.8;
  }
}
